<html>
    <head>
        <title>Login - Mobile Dispatch Sever</title>
        <script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="/js/jquery-ui.js"></script>
        <script type="text/javascript" src="/js/foundation.min.js"></script>
        <script type="text/javascript" src="/js/script.js"></script>
        <script type="text/javascript" src="/js/tabs.js"></script>
        <link rel="stylesheet" href="/styles/foundation.css">
        <link rel="stylesheet" href="/styles/styles.css">
        <link rel="stylesheet" href="/styles/jquery-ui.css">
    </head>
    <body>
        <div class="row header-box">
            <div class="large-12 small-12 columns">
                Mobile Dispatch Server
            </div>
        </div>
        <div class="large-12 small-12 columns zero-padding front">
            <div class="large-12 small-12 columns" style="padding-left: 0px;padding-right: 0px;">
                <div class="tabs">
                    <ul>
                        <li class="active"><a href="#panel1">All Encounters</a></li>
                        <li><a href="#panel2">Create Encounter</a></li>
                        <li><a href="#panel3">Add Worker</a></li>
                        <li><a href="#panel4">Add Patient</a></li>
                    </ul>
                </div>
                <!-- PANEL 1 -->
                <div class="tab-content padding" id="panel1">
                    <div class="row">
                        <div class="large-12 small-12 columns">
                            <table class="large-12 small-12 columns">
                                <tr>
                                    <th>S.No.</th>
                                    <th>Worker</th>
                                    <th>Patient</th>
                                    <th>Date</th>
                                    <th>Assigned By</th>
                                </tr>
                                <%
                                    var i=1;
                                    var allEncounters = JSON.parse(encounters);
                                    for(var encounter in allEncounters) {
                                        %>
                                            <tr>
                                                <th><%= i %></th>
                                                <th><%= encounter.workerId %></th>
                                                <th><%= encounter.patientId %></th>
                                                <th><%= encounter.date %></th>
                                                <th><%= encounter.doctorId %></th>
                                            </tr>
                                        <%
                                        i++;
                                    }
                                %>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- PANEL 2 -->
                <div class="tab-content padding" id="panel2">
                    <div class="row">
                        <div class="large-6 small-12 large-offset-3 columns login-box">
                            <form method="POST" action="/home/dashboard">
                                <label class="large-12 small-12 columns sub-header">Create Encounter</label>
                                <div class="large-6 small-6 columns">
                                    <select name="assignedWorker">
                                        <%
                                            var allWorkers = JSON.parse(workers);
                                            for(var worker in allWorkers){
                                        %>
                                            <option value="<%= allWorkers[worker].id %>"><%= allWorkers[worker].firstName %></option>
                                        <% } %>
                                    </select>
                                </div>
                                <div class="large-6 small-6 columns">
                                    <select name="assignedPatient">
                                        <%
                                            var allPatients = JSON.parse(patients);
                                            for(var patient in allPatients){
                                        %>
                                            <option value="<%= allPatients[patient].id %>"><%= allPatients[patient].firstName %></option>
                                        <% } %>
                                    </select>
                                </div>
                                <div class="large-6 small-6 columns">
                                    <input type="text" placeholder="Date" class="datepicker" name="dob"/>
                                </div>
                                <div class="large-6 small-6 columns">
                                    <input type="text" disabled value="<%= doctor[0].name %>" required/>
                                    <input type="hidden" name="assignedDoctor" value="<%= doctor[0].id %>"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- PANEL 3 -->
                <div class="tab-content padding" id="panel3">
                    <div class="row">
                        <div class="large-6 small-12 large-offset-3 columns login-box">
                            <form method="POST" action="/home/dashboard">
                                <label class="large-12 small-12 columns sub-header">Add New Worker</label>
                                <div class="large-6 small-6 columns">
                                    <input type="text" placeholder="First Name" name="firstName" required/>
                                </div>
                                <div class="large-6 small-6 columns">
                                    <input type="text" placeholder="Last Name" name="lastName" required/>
                                </div>
                                <div class="large-6 small-6 columns">
                                    <select name="gender">
                                        <option value="0">Male</option>
                                        <option value="1">Female</option>
                                    </select>
                                </div>
                                <div class="large-6 small-6 columns">
                                    <input type="text" placeholder="Date" class="datepicker" name="dob"/>
                                </div>
                                <div class="large-12 small-12 columns">
                                    <input type="submit" value="Add Worker" class="button tiny success"/>
                                    <input type="hidden" name="type" value="addWorker"/><br/>
                                    <%
                                        if(workerMessage != null) {
                                        %>
                                            <span class="label alert"><%= workerMessage %></span>
                                        <%
                                        }
                                    %>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- PANEL 4 -->
                <div class="tab-content padding" id="panel4">
                    <div class="row">
                        <div class="large-6 small-12 large-offset-3 columns login-box">
                            <form method="POST" action="/user/dashboard">
                                <label class="large-12 small-12 columns sub-header">Add New Patient</label>
                                <div class="large-6 small-6 columns">
                                    <input type="text" placeholder="First Name" name="firstName" required/>
                                </div>
                                <div class="large-6 small-6 columns">
                                    <input type="text" placeholder="Last Name" name="lastName" required/>
                                </div>
                                <div class="large-6 small-6 columns">
                                    <select name="gender">
                                        <option value="0">Male</option>
                                        <option value="1">Female</option>
                                    </select>
                                </div>
                                <div class="large-6 small-6 columns">
                                    <input type="text" placeholder="Date" class="datepicker" name="dob"/>
                                </div>
                                <div class="large-12 small-12 columns">
                                    <input type="submit" value="Add Patient" class="button tiny success"/>
                                    <input type="hidden" name="type" value="addPatient"/><br/>
                                    <%
                                        if(patientMessage != null) {
                                    %>
                                        <span class="label alert"><%= patientMessage %></span>
                                    <%
                                    }
                                    %>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $(document).foundation();
        </script>
    </body>
</html>